@{
    ViewData["Title"] = "Home Page";
}


<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido a IPcenter</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="contenedor">
        <h2>!Bienvenido a IPcenter!</h2>
        <p>"¡En IPcenter, nuestro objetivo es ofrecerte la mejor experiencia de compra en línea! Nuestros vendedores expertos están aquí para ayudarte a encontrar exactamente lo que necesitas."</p>
        <div class="imagen-tranparente">
            <img src="/img/buen.gif" alt="">
        </div>
        
    </div>
</body>
</html>


