body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #fff;
    background-image: url('/img/fonfo.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* La imagen de fondo se mantiene fija mientras se desplaza el contenido */
}
.contenedor {
    text-align: center;
    padding: 50px;
}

h2 {

    font-size: 100px;
    font-weight: bold;
    margin-bottom: 20px;
    font-family:sans-serif;
}

p {
    font-size: 38px;
    font-style: italic;
    margin-bottom: 30px;
}


footer {
    background-color: #000;
    color: #fff;
    padding: 50px 0;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-info, .footer-social {
    flex: 1;
}

    .footer-info h2, .footer-social h2 {
        font-size: 1.2em;
        margin-bottom: 10px;
    }

    .footer-info p {
        margin: 5px 0;
    }

    .footer-social ul {
        list-style-type: none;
        padding: 0;
    }

        .footer-social ul li {
            margin-bottom: 5px;
        }

            .footer-social ul li a {
                color: #fff;
                text-decoration: none;
            }

.footer-bottom {
    text-align: center;
    margin-top: 20px;
}
.tabla{
    white-space: nowrap;
    overflow-x: auto;
}
.my-form {
    max-width: 400px;
    margin: auto; /* Esto centrará horizontalmente el formulario dentro de su contenedor */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 50px; /* Espacio superior para separar del borde superior de la ventana */
}
.imagen-tranparente {
    opacity: 1; /* Establecemos la opacidad inicial */
    transition: opacity 0.5s ease; /* Agregamos una transición suave */
}

.imagen-tranparente {
    opacity: 0.5; /* Reducimos la opacidad al pasar el ratón sobre la imagen */
}